# Session #1 Homework
Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from 06-environment.md.

## Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [87]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

print("My version of numpy is ", np.__version__)

My version of numpy is  1.21.2

## Getting the data
For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

## Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

- 11914

In [88]:
data = pd.read_csv('./data.csv')

print("The number of rows is ", data.shape[0])

The number of rows is  11914

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

Chevrolet, Volkswagen, Toyota
Chevrolet, Ford, Toyota
Ford, Volkswagen, Toyota
Chevrolet, Ford, Volkswagen

In [89]:
count_cars_maker = data['Make'].value_counts()

print("The principal car manufacturers are:\n", count_cars_maker.head(3))

The principal car manufacturers are:
 Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

34

In [90]:
audi_cars_only = data.loc[data['Make'] == 'Audi']
count_audi_models = audi_cars_only['Model'].unique()

print("Unique Audi car models is ", len(count_audi_models))

Unique Audi car models is  34

## Question 5
How many columns in the dataset have missing values?

In [91]:
number_of_na = data.isnull().sum().sort_values()

print("The number of columns with na is 5", number_of_na)

The number of columns with na is 5 Make                    0
Model                   0
Year                    0
Transmission Type       0
Driven_Wheels           0
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
Engine Fuel Type        3
Number of Doors         6
Engine Cylinders       30
Engine HP              69
Market Category      3742
dtype: int64

## Question 6

Find the median value of "Engine Cylinders" column in the dataset.

Next, calculate the most frequent value of the same "Engine Cylinders".

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

No

In [92]:
median_engine_cyl = data['Engine Cylinders'].median()

print('The median engine cylinders is ', median_engine_cyl)

mode_engine_cyl = data['Engine Cylinders'].mode()

print('The mode engine cylinders is ', mode_engine_cyl)

new_data = data.fillna(value = 4.0)

new_median_engine_cyl = new_data['Engine Cylinders'].median()

print('The mode engine cylinders is ', new_median_engine_cyl)

The median engine cylinders is  6.0
The mode engine cylinders is  0    4.0
Name: Engine Cylinders, dtype: float64
The mode engine cylinders is  6.0

## Question 7

Select all the "Lotus" cars from the dataset.

Select only columns "Engine HP", "Engine Cylinders".

Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?

In [124]:
lotus_cars_only = data.loc[data['Make'] == 'Lotus']

lotus_cars_only_filt = lotus_cars_only[['Engine HP', 'Engine Cylinders']]

lotus_cars_only_filt_2 = lotus_cars_only_filt.drop_duplicates()

X = lotus_cars_only_filt_2.to_numpy()

XT = X.T

XTX = np.dot(XT, X)

XTX_invert = np.linalg.inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = np.dot(np.dot(XTX_invert, XT), y)

print("The value of the first element of w is ", w[0])

The value of the first element of w is  4.5949448100945744